TrabalhoApliCADO/dupla/backend/bd/tabelas/tbl_bookmark.pl
TrabalhoApliCADO/dupla/backend/bd/tabelas/tbl_cadastroContaBancaria.pl
TrabalhoApliCADO/dupla/backend/bd/tabelas/tbl_cadastroEmpresa.pl
TrabalhoApliCADO/dupla/backend/bd/tabelas/tbl_chave.pl
TrabalhoApliCADO/dupla/backend/bd/tabelas/tbl_clientes.pl
TrabalhoApliCADO/dupla/backend/bd/tabelas/tbl_usuarios.pl
TrabalhoApliCADO/dupla/httpd.log
